In [1]:
import numpy as np
import pandas as pd 
from pandas import DataFrame as df
pd.set_option('display.max_columns', 500)

In [2]:
ls

body.png                           sample_code.ipynb
consumer_panel_2004.xlsx           scanner_sample.xlsx
head.png                           trial.png
purchase.txt                       클린징.ipynb

### 데이터 출력 
(좌우 스크롤 가능)

In [36]:
sample2['size1_units'].unique()

array(['OZ', 'ML', 'LI'], dtype=object)

In [47]:
sample2 = pd.read_csv("purchase.txt", sep ='\t')
sample2.head(10)

,upc,upc_ver_uc,trip_code_uc,household_code,purchase_date,retailer_code,store_code_uc,panel_year,store_zip3,total_spent,quantity,total_price_paid,coupon_value,deal_flag_uc,upc_descr,product_module_code,product_module_descr,product_group_code,product_group_descr,department_code,department_descr,brand_code_uc,brand_descr,multi,size1_code_uc,size1_amount,size1_units,dataset_found_uc,size1_change_flag_uc
0,7289000016,1,2544217,2000106,2004-05-15,6,434185,2004,606.0,153.90,1,12.99,0,0,HKN L BR IM HLD NRB 12P,5000,BEER,5001,BEER,8,ALCOHOLIC BEVERAGES,568229,HEINEKEN,12,32992,12.0,OZ,ALL,0
1,8218405435,2,3820912,2000106,2004-07-25,6,434185,2004,606.0,62.53,1,4.99,0,1,JDCC M BVG LYNCHBRG LMD NRB 4P,5048,COOLERS - REMAINING,5002,LIQUOR,8,ALCOHOLIC BEVERAGES,575322,JACK DANIEL'S COUNTRY COCKTLS,4,30884,296.0,ML,ALL,0
2,8603620560,1,14232959,2000106,2005-12-04,6,434185,2005,606.0,42.46,1,5.99,0,0,C BROS HOLIDAY NOG 20P CK,5040,ALCOHOLIC COCKTAILS,5002,LIQUOR,8,ALCOHOLIC BEVERAGES,529222,CHRISTIAN BROTHERS,1,30922,750.0,ML,ALL,0
3,71582610190,1,7440646,2000126,2005-01-23,9103,0,2005,NaN,84.76,1,7.85,0,0,RVNSWD ZN CA V-B V RED DDT,5050,WINE-DOMESTIC DRY TABLE,5003,WINE,8,ALCOHOLIC BEVERAGES,625522,RAVENSWOOD,1,30922,750.0,ML,ALL,0
4,7231163009,1,9587725,2000126,2005-05-07,6920,0,2005,NaN,163.28,1,5.76,0,0,MSEHD BR IM CND NRB 6P,5000,BEER,5001,BEER,8,ALCOHOLIC BEVERAGES,600650,MOOSEHEAD,6,32992,12.0,OZ,ALL,0
5,8678521137,1,9920439,2000126,2005-05-23,130,969374,2005,750.0,49.20,1,7.99,0,0,CAVIT IT MRLT RED IDT 4P,5052,WINE-IMPORTED DRY TABLE,5003,WINE,8,ALCOHOLIC BEVERAGES,525876,CAVIT,4,30871,187.0,ML,ALL,0
6,6206705172,1,10100734,2000126,2005-06-01,130,969374,2005,750.0,45.38,1,5.89,0,0,LBP BR IM CND NRB LN 6P,5000,BEER,5001,BEER,8,ALCOHOLIC BEVERAGES,585164,LABATT BLUE PILSNER,6,32940,11.5,OZ,ALL,0
7,8500000246,2,10470801,2000126,2005-06-19,6920,0,2005,NaN,180.62,1,2.50,0,1,B&J M CLR EXOTIC BRY NRB 4P,5048,COOLERS - REMAINING,5002,LIQUOR,8,ALCOHOLIC BEVERAGES,511846,BARTLES & JAYMES,4,30894,355.0,ML,ALL,0
8,8500000126,2,10712000,2000126,2005-07-01,6920,0,2005,NaN,80.81,1,2.50,0,1,B&J M CLR MRGTA NRB 4P,5048,COOLERS - REMAINING,5002,LIQUOR,8,ALCOHOLIC BEVERAGES,511846,BARTLES & JAYMES,4,30894,355.0,ML,ALL,0
9,8500000130,2,10712000,2000126,2005-07-01,6920,0,2005,NaN,80.81,1,2.50,0,1,B&J M CLR SB DQR NRB 4P,5048,COOLERS - REMAINING,5002,LIQUOR,8,ALCOHOLIC BEVERAGES,511846,BARTLES & JAYMES,4,30894,355.0,ML,ALL,0

In [30]:
# data 내의 모든 컬럼 출력
sample2.columns

Index(['upc', 'upc_ver_uc', 'trip_code_uc', 'household_code', 'purchase_date',
       'retailer_code', 'store_code_uc', 'panel_year', 'store_zip3',
       'total_spent', 'quantity', 'total_price_paid', 'coupon_value',
       'deal_flag_uc', 'upc_descr', 'product_module_code',
       'product_module_descr', 'product_group_code', 'product_group_descr',
       'department_code', 'department_descr', 'brand_code_uc', 'brand_descr',
       'multi', 'size1_code_uc', 'size1_amount', 'size1_units',
       'dataset_found_uc', 'size1_change_flag_uc'],
      dtype='object')

### columns

    ##(1) product & date ##
    upc:상품 부호    upc_ver_uc:상품 부호 변경으로 겹치는 경우 있을시 구분해주기 위한 코드
    upc * upc_ver_uc --> 상품 키 
    purchse_date: 구매일자 yyyy-mm-dd
    
    
    ##(2) seller & buyer  ##
    trip_code_uc: trip file과 merge시 사용 되는 키
    household_code: household panel과 merge시 사용되는 키
    retailer_code & store_code_uc & store_zip3: seller 정보
    panel_year: 소비 발생 year--> household panel이 연도별로 되어 있어 merge시 household_code와 함께 사용
    
    ##(3) price & quantity ##
    total_spent: 해당 상품 구매시, 모든 상품 대상 지불한 전체 금액
    quantity: 해당 상품 수량
    total_price_paid: 해당 상품 지불 가격
    coupon_value: 쿠폰
    deal_flag_uc: ?
    
    ##(4) alcohol category ##
    product_module_code & product_module_descr: 전자가 code, 후자가 label -- 주종의 세세분류
    product_group_code & product_group_descr: 전자가 code, 후자가 label -- 5001:beer, 5002:liquor, 5003:wine
    department_code & department_descr: 전자가 code, 후자가 label -- 해당 데이터 셋이 주류 상품임을 의미; redundant

    ##(5) size ##
    size1_amount: 해당 상품의 size number
    size1_units: 해당 상품의 size unit -- 'OZ', 'ML', 'LI'
    
    ##(6) brand ##
    brand_code_uc & brand_descr: 전자가 code, 후자가 label -- 브랜드 eg) HEINEKEN

In [43]:
# (1), (3), (4) 사용한 subsample
sub_sample = sample2[['upc', 'upc_ver_uc', 'purchase_date', 'quantity', 'total_price_paid',
                  'product_module_code', 'product_module_descr', 'product_group_code', 'product_group_descr']]
sub_sample.head(10)

,upc,upc_ver_uc,purchase_date,quantity,total_price_paid,product_module_code,product_module_descr,product_group_code,product_group_descr
0,7289000016,1,2004-05-15,1,12.99,5000,BEER,5001,BEER
1,8218405435,2,2004-07-25,1,4.99,5048,COOLERS - REMAINING,5002,LIQUOR
2,8603620560,1,2005-12-04,1,5.99,5040,ALCOHOLIC COCKTAILS,5002,LIQUOR
3,71582610190,1,2005-01-23,1,7.85,5050,WINE-DOMESTIC DRY TABLE,5003,WINE
4,7231163009,1,2005-05-07,1,5.76,5000,BEER,5001,BEER
5,8678521137,1,2005-05-23,1,7.99,5052,WINE-IMPORTED DRY TABLE,5003,WINE
6,6206705172,1,2005-06-01,1,5.89,5000,BEER,5001,BEER
7,8500000246,2,2005-06-19,1,2.50,5048,COOLERS - REMAINING,5002,LIQUOR
8,8500000126,2,2005-07-01,1,2.50,5048,COOLERS - REMAINING,5002,LIQUOR
9,8500000130,2,2005-07-01,1,2.50,5048,COOLERS - REMAINING,5002,LIQUOR

### 주종 세세분류

In [46]:
# 주종 세세분류 확인 
print(sub_sample['product_module_descr'].unique())

['BEER' 'COOLERS - REMAINING' 'ALCOHOLIC COCKTAILS'
 'WINE-DOMESTIC DRY TABLE' 'WINE-IMPORTED DRY TABLE'
 'WINE - NON ALCOHOLIC' 'WINE-SPARKLING' 'WINE-FLAVORED/REFRESHMENT'
 'WINE-SANGRIA' 'WINE-SAKE' 'STOUT AND PORTER'
 'CORDIALS & PROPRIETARY LIQUEURS' 'LIGHT BEER (LOW CALORIE/ALCOHOL)'
 'ALE' 'SCOTCH' 'WINE-VERMOUTH' 'WINE-SWEET DESSERT-DOMESTIC' 'GIN' 'RUM'
 'BOURBON-STRAIGHT/BONDED' 'VODKA' 'BRANDY/COGNAC' 'TEQUILA'
 'NEAR BEER/MALT BEVERAGE' 'CANADIAN WHISKEY' 'WINE-KOSHER TABLE']

### 연도별, 주종별 구매 건수

In [44]:
# 구매 발생 연도, 월 컬럼 생성
sub_sample['purchase_year'] = pd.DatetimeIndex(sub_sample['purchase_date']).year
sub_sample['purchase_month'] = pd.DatetimeIndex(sub_sample['purchase_date']).month

/Users/iankim/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/iankim/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [48]:
sub_sample['purchase_year'].unique()

array([2004, 2005, 2006, 2007, 2003])

In [58]:
sub_sample03['purchase_year'].count()

7

In [49]:
sub_sample03 = sub_sample.query("purchase_year == 2003")
sub_sample04 = sub_sample.query("purchase_year == 2004")
sub_sample05 = sub_sample.query("purchase_year == 2005")
sub_sample06 = sub_sample.query("purchase_year == 2006")
sub_sample07 = sub_sample.query("purchase_year == 2007")

In [59]:
# 5001:BEER
# 5002:LIQUOR
# 5003:WINE
def alcohol(data):
    beer = data.query('product_group_code == 5001')
    liquor = data.query('product_group_code == 5002')
    wine = data.query('product_group_code == 5003')
    
    b = beer['purchase_year'].count()
    l = liquor['purchase_year'].count()
    w = wine['purchase_year'].count()
    
    return b,l,w

In [69]:
b_03, l_03, w_03 = alcohol(sub_sample03)
b_04, l_04, w_04 = alcohol(sub_sample04)
b_05, l_05, w_05 = alcohol(sub_sample05)
b_06, l_06, w_06 = alcohol(sub_sample06)
b_07, l_07, w_07 = alcohol(sub_sample07)

print("year 2003, beer:", b_03, " liquor:", l_03, " wine:", w_03)
print("year 2004, beer:", b_04, " liquor:", l_04, " wine:", w_04)
print("year 2005, beer:", b_05, " liquor:", l_05, " wine:", w_05)
print("year 2006, beer:", b_06, " liquor:", l_06, " wine:", w_06)
print("year 2007, beer:", b_07, " liquor:", l_07, " wine:", w_07)
print(" ")
print("year 2003, beer/(wine+liquor)=", b_03/(l_03 + w_03))
print("year 2004, beer/(wine+liquor)=", b_04/(l_04 + w_04))
print("year 2005, beer/(wine+liquor)=", b_05/(l_05 + w_05))
print("year 2006, beer/(wine+liquor)=", b_06/(l_06 + w_06))
print("year 2007, beer/(wine+liquor)=", b_07/(l_07 + w_07))

year 2003, beer: 1  liquor: 6  wine: 0
year 2004, beer: 84  liquor: 37  wine: 52
year 2005, beer: 65  liquor: 44  wine: 67
year 2006, beer: 46  liquor: 36  wine: 69
year 2007, beer: 15  liquor: 31  wine: 41

year 2003, beer/(wine+liquor)= 0.16666666666666666
year 2004, beer/(wine+liquor)= 0.9438202247191011
year 2005, beer/(wine+liquor)= 0.5855855855855856
year 2006, beer/(wine+liquor)= 0.4380952380952381
year 2007, beer/(wine+liquor)= 0.20833333333333334

    sample data이기 때문에 전체 observation 수가 적어서 unstable. 
    같은 방식으로 yyyyXmm 별로, yyyyXmmXweek 별로도 확인해 볼 수 도 있음.

### Question <br>
the stability of the portion of beer consumption among all alcohol product <br>
1.time window? <br>
2.measurement of consumption? 구매건수? 건당 구매량? 구매당 알코올 총 용량?? <br>